body {
    font-family: 'Inter';
}

.board-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 64px;
    padding-top: 79.5px;
    height: 73px;
}

.board-header-right {
    display: flex;
    align-items: center;
    gap: 32px;
    padding-right: 64px;
}

.board_container {
    display: flex;
    flex-direction: column;
}

.inputfield-container {
    border: 1px solid lightgray;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.inputfield {
    border: none;
    width: 200px;
    background-color: transparent;
    font-weight: 400;
    font-size: 20px;
    color: #D1D1D1;
    padding: 0;
}

.inputfield:focus {
    outline: none;
}

.input-icon {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-right: 16px;
}

.list {
    display: flex;
    justify-content: space-between;
    padding: 0px 64px 15px 64px;
    padding-top: 48px;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 244px;
}

.list-btn {
    border: 2px solid black;
    border-radius: 7px;
    background: transparent;
    cursor: pointer;
}

p {
    height: 24px;
    color:#42526E;
    font-weight: 700;
}

.tasks-container {
    display: flex;
    justify-content: space-between;
    margin-left: 64px;
    margin-right: 64px;
    gap: 24px;
}

.task-columns {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 260px;
}

.task-card {
    box-sizing: border-box;
    width: 252px;
    border-radius: 24px;
    padding: 16px;
    border: 1px;
    background-color: white;
    margin-bottom: 16px;
    cursor: pointer;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);;
}

.task-card:hover {
    transform: rotate(3deg);
}

.no-task {
    font-family: 'open-sans';
    color: #A8A8A8;
    background-color: rgb(231,231,231);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 252px;
    border: 1px dashed lightgrey;
    border-radius: 10px;
    padding: 16px;
    font-size: 16px;
    font-weight: 400;
}

h2 {
    font-size: 16px;
    font-weight: 700;
}

.task-description {
    font-weight: 400;
    font-size: 16px;
}

.task-card-bottom {
    display: flex;
    justify-content: space-between;
}

.task-card-type {
    display: flex;
    align-items: center;
    color: white;
}

.type-bg {
    background-color: #3539FF;
    border-radius: 10px;
    padding: 4px;
}

.progress {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 28px;
}

.progress-bar {
    background-color: #F4F4F4;
    width: 100px;
    height: 10px;
    border-radius: 10px;
}

.board-btn {
    height: 48px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 21px;
    gap: 4px;
    padding: 8px 16px 8px 16px;
}

.user-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    font-weight: 400;
    height: 30px;
    width: 30px;
}

.add-task-popup {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 20px;
    top: 100px;
    bottom: 100px;
    left: 150px;
    right: 150px;
    background-color: white;
    transition: transform 0.5s ease-in-out;
} 

.popup-headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close-popup {
    display: flex;
    align-items: center;
    height: 13.5px;
    margin-right: 40px;
    cursor: pointer;
    border: 1px;
    border-radius: 50%;
    padding: 4px;
    background-color: white;
}

.close-popup:hover {
    background-color: lightgray;
    transform: scale(1.10);
}

.prio-selection-urgent {
    border: 1px solid lightgrey;
}

.prio-selection-medium {
    border: 1px solid lightgrey;
}

.prio-selection-low {
    border: 1px solid lightgrey;
}

.prio-gap {
    gap: 16px;
}

.popup-buttons {
    display: flex;
    gap: 16px;
}

.add-task-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 59em;
}

.clear-button {
    display: flex;
    align-items: center;
    gap: 8px;
}

.padding-top {
    padding-top: 30px;
}

.taskContacts {
display: flex;
width: 70%;
justify-content: space-between;
}

@media (max-width: 1370px) {
    
}

@media (max-width: 768px) {
    
}

@media (max-width: 428px) {
    
}

.dialog_bg {
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d_none {
    display: none;
}

.dialog {
    width: 350px;
    background-color: white;
    border: 1 px solid lightgray;
    border-radius: 25px;
    padding: 24px;
}

.header_task_details h1 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.header_task_details p {
    margin-bottom: 12px;
    color: black;
}

.details_delete_edit {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 4px;
}

.details_delete_edit p {
    margin: 0;
}

.details_delete_edit img {
    height: 20px;
}