body {
    font-family: 'Inter';
}

.board-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 64px;
    padding-top: 79.5px;
    height: 73px;
}

.board-header-right {
    display: flex;
    align-items: center;
    gap: 32px;
    padding-right: 64px;
}

.inputfield {
    display: flex;
    align-items: center;
    height: 48px;
    width: 312px;
    border-radius: 10px;
    border: 1px solid lightgrey;
    padding: 8px 16px 8px 16px;
}

.input {
    border: none;

}

.list {
    display: flex;
    justify-content: space-between;
    padding: 0px 64px 0px 64px;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 244px;
    padding-top: 48px;
}

p {
    height: 24px;
    color:#42526E;
    font-weight: 700;
}

.tasks-container {
    display: flex;
    padding: 0px 64px 0px 64px;
    height: 688px;
    gap: 24px;
}

.task-columns {
    display: flex;
    flex-direction: column;
}

.task-card {
    width: 252px;
    height: 244px;
    border-radius: 24px;
    padding: 16px;
    border: 1px solid black;
}

.board-btn {
    height: 48px;
}

