body {
    margin: 0;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.content-container {
    display: flex;
    margin-left: 230px;
    background: #F6F7F8;
    width: 1920px;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100vh;
}

header {
    height: 96px;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px #0000001A;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: none;
}

.header-description {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    margin-left: 125px;
}

.help-profil-container {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.help-profil-container img {
    width: 32px;
    height: 32px;
    margin-right: 16px;
}

.profil-initials {
    border: 3px solid #2A3647;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profil-initials {
    color: #29ABE2;
    font-weight: 800;
    font-size: 24px;
    font-family: 'Inter';
    cursor: pointer;
}

.profil-initials span {
    color: #29ABE2 !important;
}

.menubar-section {
    background-color: #2A3647;
    width: 232px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
}

.logo {
    width: 100.03px;
    height: 121.97px;
    margin-top: 64px;
}

.navbar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 229px;
    width: 232px;
}

.navbar {
    display: flex;
    align-items: center;
    transition: all 225ms;
    height: 46px;
}

.navbar:hover {
    background-color: #2A3D59;
}

.nav-bg {
    background-color: #091931;
    pointer-events: none;
    cursor: default;
}

.navbar img {
    margin-right: 10.5px;
    margin-left: 58.5px;
    height: 25px;
    width: 25px;
}

.link-text {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin-block-start: 0;
    margin-block-end: 0;
}

a {
    text-decoration: none;
}

.protection-container {
    display: flex;
    flex-direction: column;
    margin-top: 45%;
}

.protection-container a {
    text-decoration: none;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    color: #A8A8A8;
}

.protection-container a:hover {
    color: #29ABE2;
}

.popup-logout {
width: 150px;
height: 140px;
color: white;
background-color: #2A3647;
position: absolute;
right: 20px;
top: 96px;
border-radius: 20px 0px 20px 20px;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
padding-bottom: 10px;
padding-top: 10px;
}

.popup-logout a {
text-decoration: none;
color: white;
font-family: 'Inter';
padding: 5px;
width: 110px;
text-align: center;
transition: all 225ms ease-in-out;
}

.popup-logout a:hover {
    background-color: #3f4f66;
}

.popup-help {
display: none
}

@media (max-width: 900px) {
    .header-description {
        font-size: 16px;
        margin-left: 20px;
    }
}

@media (max-width: 768px) {
    .menubar-section {
        background-color: #2A3647;
        width: 100vw;
        height: 80px;
        position: fixed;
        bottom: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        z-index: 10;
    }

    .content-container {
        margin-left: 0;
    }

    .main-content {
        margin-left: 0;
        height: auto;
    }

    .logo {
        display: none;
    }

    .navbar-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        width: 100%;
    }

    .nav-bg {
        background-color: #091931;
        border-radius: 16px;
    }

    .navbar:hover {
        background-color: #334052;
        border-radius: 16px;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 225ms;
        height: 76px;
        width: 80px;
    }

    .navbar img {
        margin-right: 0px;
        margin-left: 0px;
        height: 22px;
        width: 22px;
    }

    .protection-container {
        display: none;
    }

    .navbar a {
        font-family: 'Open Sans';
        font-size: 14px;
        margin-top: 5px;
    }

    .profil-initials {
        border: 2px solid #2A3647;
        width: 40px;
        height: 40px;
    }

    .help-profil-container {
        margin-right: 16px;
    }

    .help-profil-container img {
        display: none;
    }

    .profil-initials  {
        color: #29ABE2;
        font-weight: 800;
        font-size: 16px;
        font-family: 'Open Sans';
        margin-left: 1px;
    }

    .header-description {
        display: none;
    }

    .header-logo {
        display: block;
        object-fit: contain;
        width: 32px;
        height: 93px;
        margin-left: 16px;
    }

    header {
        height: 80px;
    }

    .popup-help {
        display: block;
        }

        .popup-logout {
            right: 20px;
            top: 80px;
            transform: translate(150%);
            transition: all 225ms ease-in-out;
            }

        .popup-logout-mobile {
        transform: translate(0);
        }    
        
}