body {
    font-family: 'Inter';
}

.sign_up {
    justify-content: center;
}

.sign_up_header {
    display: flex;
    justify-content: center;
}

.underline_login {
    text-align: center !important;
}

.name_icon {
    margin: 10px 0 0 0;
}

.back_to_login {
    width: 15px;
    height: 15px;
    padding-top: 15px;
}

.back_to_login img {
    object-fit: cover;
    position: relative;
    margin-right: -120px;
    margin-top: 35px;
}

.back_to_login img:hover {
    cursor: pointer;
    background-color: #D1D1D1;
    padding: 3px;
    border-radius: 15px;
}

.main_login_container {
    margin-top: 30px !important;
}

.accept_privacy_policy {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: gray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.accept_privacy_policy a {
    text-decoration: none;
    color: rgb(64, 171, 226);
}

.accept_privacy_policy a:hover {
    text-decoration: underline;
    font-size: bold;
}

input[type="checkbox"] {
    width: 15px;
}

input[type="text"] {
    outline: none;
}

.name_icon {
    background: url("../assets/img/person.svg") no-repeat;
    background-position: 303px 9.5px;
}

.sign_up a {
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 1px;
}

.reistrationMessage {
    font-size: 24px;
    color: rgb(7, 161, 7);
    margin-bottom: 50px;
    margin-top: 50px;
}

@media(max-width:580px) {
    body {
        background-color: #f6f7f8 !important;
    }

    .logo_image img {
        height: 78px;
    }

    .sign_up_container {
        margin-top: -30px !important;
    }

    .sign_up {
        display: inline !important;
        margin-top: 400px !important;
    }

    .sign_up_header {
        margin-left: 20px;
    }

    .main_login_content {
        height: 460px !important;
        margin-left: 0px;
    }

    .back_to_login img {
        margin-top: 80px !important;
        margin-left: 20px;
    }
}

@media(max-width: 500px) {
    .main_login_content {
        max-width: 270px;
    }

    .sign_up_container {
        margin-top: -20px !important;
    }

    .sign_up_header {
        padding-left: 20px !important;
        margin: 0;
    }

    input[type="text"] {
        background-position: 203px 9.5px !important;
    }

    .back_to_login img {
        height: 19px;
        margin-left: -40px !important;
        margin-top: 77px !important;
    }

    input {
        width: 230px !important;
    }

    .input_field_mail {
        width: 230px !important;
    }

    .input_field_password {
        width: 230px !important;
    }

    .accept_privacy_policy input {
        margin: 0;
        max-width: fit-content;
    }

    .accept_privacy_policy p {
        margin-left: 10px;
    }
}