.task-dashboard-container {
width: 560px;
height: 562px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-top: 56px;
}

.task-dashboard-container p{
    margin-block-start: 0;
    margin-block-end: 0;
}

.todos-done-dashboard {
width: 264px;
height: 168px;
border-radius: 30px;
background: #FFFFFF;
display: flex;
justify-content: center;
align-items: center;
}

.todos-done-dashboard img {
height: 69px;
width: 69px;
}

.urgent-dashboard {
width: 560px;
height: 168px;
border-radius: 30px;
background: #FFFFFF;
display: flex;
justify-content: space-around;
align-items: center;
}

.tasks-feedback-dashboard {
width: 168px;
height: 168px;
border-radius: 30px;
background: #FFFFFF;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.task-current-conatiner {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 93px;
}

.task-current-number {
    font-family: Inter;
    font-size: 64px;
    font-weight: 600;
    text-align: center;
}

.greeting-container {
margin-left: 80px;
}

.task-current-dodo-done {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;    
}

.task-current-name {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400; 
    text-align: center;   
}

.between-line {
    border: 2px solid #D1D1D1;
    height: 102px;
    border-radius: 3px;
}

.date-text {
    font-family: 'Inter';
    font-size: 21px;
    font-weight: 700;
}

h2 {
    font-family: 'Inter';
    font-size: 64px;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
    color: #29ABE2;
}

h3 {
    font-family: 'Inter';
    font-size: 47px;
    font-weight: 500;
    margin-block-start: 0;
    margin-block-end: 0;
}