.task-dashboard-section {
    display: flex;
    height: 60vh;
}

.task-dashboard-container {
    width: 560px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.task-dashboard-container p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.todos-done-dashboard {
    width: 264px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    transition: all 175ms ease-in-out;
}

.todos-done-dashboard:hover,
.urgent-dashboard:hover,
.tasks-feedback-dashboard:hover {
    background-color: #2A3647;
    cursor: pointer;
    transform: scale(1.05);
    transform-origin: center;
    color: white;
}

.todos-done-dashboard img {
    width: 25%;
}

.urgent-dashboard {
    width: 560px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
    transition: all 175ms ease-in-out;
}

.tasks-feedback-dashboard {
    width: 168px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 175ms ease-in-out;
}

.task-current-conatiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 93px;
}

.task-current-number {
    font-family: 'Inter';
    font-size: 64px;
    font-weight: 600;
    text-align: center;
}

.greeting-container {
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.task-current-dodo-done {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
}

.task-current-name {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.between-line {
    border: 2px solid #D1D1D1;
    height: 80%;
    border-radius: 3px;
}

.date-text {
    font-family: 'Inter';
    font-size: 21px;
    font-weight: 700;
}

.deadline-text {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
}

h2 {
    font-family: 'Inter';
    font-size: 64px;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
    color: #29ABE2;
}

h3 {
    font-family: 'Inter';
    font-size: 47px;
    font-weight: 500;
    margin-block-start: 0;
    margin-block-end: 0;
}

.d-none {
    display: none;
}

.d-none-opacity {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out, visibility 0s 1s;
}

.hedline-container-responsiv p {
    font-family: 'Inter';
    font-size: 27px;
    font-weight: 400;
    margin-block-start: 0;
    margin-block-end: 16px;
}

.parting-line-responsiv {
    height: 0;
    width: 130px;
    border: 3px solid #29ABE2;
    border-radius: 3px;
}

.double-arrows {
width: 25%;
}

.margin-left-top-summary {
    margin-left: 96px;
    margin-top: 50px;
    height: 80vh;
}

@media (max-width: 1050px) {
    .task-dashboard-section {
        display: flex;
        align-items: center;
        height: 50vh;
    }

    .task-dashboard-container {
        width: 420px;
        height: 448px;
        margin-top: 45px;
    }

    .todos-done-dashboard {
        width: 186px;
        height: 120px;
        border-radius: 20px;
    }

    .todos-done-dashboard img {
        width: 30%;
    }

    .urgent-dashboard {
        width: 396px;
        height: 110px;
        border-radius: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .tasks-feedback-dashboard {
        width: 116px;
        height: 116px;
        border-radius: 20px;
    }

    .task-current-dodo-done {
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 400;
    }

    .task-current-number {
        font-family: 'Inter';
        font-size: 47px;
        font-weight: 600;
        text-align: center;
    }

    .task-current-name {
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 400;
        text-align: center;
    }

    .date-text {
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 700;
    }

    .deadline-text {
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 400;
    }

    .between-line {
        border: 2px solid #D1D1D1;
        height: 80%;
    }

    .double-arrows {
        width: 30%;
        }

    .greeting-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 0;
    height: 80vh;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    }

    .task-current-conatiner {
        width: auto;
    }
}

@media (max-width: 768px) {
    .task-dashboard-container {
        width: 70%;
        height: auto;
        margin-top: 30px;
    }

    .margin-left-top-summary {
        margin-left: 20px;
    }

    .todos-done-dashboard {
        width: 48%;
    }

    .urgent-dashboard {
        width: 100%;
        padding-left: 25px;
        padding-right: 25px;
    }

    .tasks-feedback-dashboard {
        width: 31%;
        height: auto;
    }

    .tasks-feedback-dashboard {
    padding-bottom: 10px;
    padding-top: 10px;
    }
}

@media (max-width: 550px) {
    .task-dashboard-container {
        width: 100%;
        height: auto;
        margin-top: 30px;
    }

    .margin-left-top-summary {
        margin-left: 0;
    }
}

@media (max-width: 420px) {
    .task-current-conatiner {
        width: 60px;
    }

    h2 {
        font-family: 'Inter';
        font-size: 47px;
        font-weight: 700;
        margin-block-start: 0;
        margin-block-end: 0;
        color: #29ABE2;
    }
    
    h3 {
        font-family: 'Inter';
        font-size: 36px;
        font-weight: 500;
        margin-block-start: 0;
        margin-block-end: 0;
    }

    .urgent-dashboard {
        padding-left: 10px;
        padding-right: 10px;
    }
}