<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="menubar.css">
    <link rel="stylesheet" href="fonts.css">
     
</head>

<body>

    <div class="display-flex">

        <header>
            <p class="header-description">Kanban Project Management Tool</p>
            <div class="help-profil-container">
                <img src="./assets/img/help.png" alt="Help">
                <div class="profil-initials">
                    <p>SM</p>
                </div>
            </div>
        </header>

        <section class="menubar-section">
            <img class="logo" src="./assets/img/logo.png" alt="Join Logo">
            <div class="navbar-container">
                <div class="navbar nav-bg"><img src="./assets/img/summary-icon.png" alt=""><a href="summary.html">Summary</a></div>
                <div class="navbar"><img src="./assets/img/add-task-icon.png" alt=""><a href="add_task.html">Add Task</a></div>
                <div class="navbar"><img src="./assets/img/board-icon.png" alt=""><a href="board.html">Board</a></div>
                <div class="navbar"><img src="./assets/img/contacts-icon.png" alt=""><a href="contacts.html">Contacts</a></div>
            </div>

            <div class="protection-container">
                <a style="margin-bottom: 20px;" href="privacy_policy.html">Privacy Policy</a>
                <a href="legal_notice.html">Legal notice</a>
            </div>
        </section>

    </div>

</body>

</html>